@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    @font-face {
      font-family: 'English';
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: url(./fonts/English-111-Vivace-BT.woff2) format('woff2');
    }
}